@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow';
}

body {
  min-height: 100vh;
  background-color: whitesmoke;
  color: black;
  line-height: 1.5;
}



/* HEADER */

/* .wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 20%;
  margin: 0 auto;
} */

 header {
  position: relative;
  width: 100%;
}

/* CONTACT NAV BAR */

.contact-nav {
  height: 60px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: rgb(247, 247, 247);
  margin: 0 auto;
  padding: 0 50px;
}

.phone {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 10px;
}

.phone h4 {
  font-size: 15px;
  font-weight: 600;
}

.email {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.email a {
  font-size: 15px;
}

.nav-socials {
  display: flex;
  font-size: 15px;
  gap: 20px;
  justify-content: end;
}

.contact-nav i {
  padding-right: 5px;
  font-size: 15px;
}

/* MAIN NAV BAR */

.navbar-container {
  width: 100%;
  background-color: #fff;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: black;
  background-color: #fff;
} 

ul {
  list-style: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo h2 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 8px;
}

.logo p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: solid 4px orange;
}

.logo i {
  color: orange;
  font-size: 35px;
}


.navbar .links {
  display: flex;
  gap: 1rem;
}

.navbar .toggle-btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action-btn {
  background-color: hsl(39, 100%, 50%);
  color: white;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover {
  color: white;
  scale: 1.05;
  background-color: black;
}

.action-btn:active {
  scale: 0.95;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

a:hover {
  color: hsl(39, 100%, 50%);
}

/* DROPDOWN MENU */

.dropdown-menu {
  display: none;
  position: absolute;
  top: 136px;
  right: 0;
  width: 100px;
  height: 0;
  background: rgba(92, 91, 91, 0.603);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0;
  padding: 0;
  z-index: 3;
  border-radius: 5px 0 5px 5px;
}

.dropdown-menu.open {
  height: 75px;
  width: 100%;
  padding: 0 75px;
}
.dropdown-menu li {
  display: flex;
  align-content:center;
  justify-content:center;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu :hover {
  color: hsl(39, 100%, 50%);
}
.dropdown-menu li a {
  font-size: 1.1rem;
}

.dropdown-menu .action-btn {
  width: auto;
  display: flex;
  justify-content: center;
}

.dropdown-menu.open .action-btn {
  padding: 10px;
}

/* Canvas Section */

.hero-container {
  background-image: url(./images/peakpx75dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  height:auto;
}

.canvas {
  position: relative;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  color: white;
  text-transform: uppercase;
  
}

.canvas h1 {
  font-size: 60px;
  font-weight: 700px;
  letter-spacing: 3px;
  padding: 20px 0;
}



.canvas h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 20px 0 50px 0;
}
 
.canvas .divider {
  border-top:hsl(39, 100%, 50%) 2px solid;
  width: 15%;
  padding: 20px 0;
}

.canvas p {
  font-size: 20px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}

.canvas-btn {
  font-size: 1vw;
  background-color: hsl(39, 100%, 50%);
  padding: 1rem 1rem;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all .35s;
  outline: none;
  text-transform: uppercase;
  width: 150px;
  color: white;
}

.canvas-btn a {
  position: relative;
  z-index: 2;
  text-decoration: none;
}

.canvas-btn:hover {
  color: black;
  background-color: white;
}

.canvas-btn:hover:after {
  width: 100%;
}

.canvas span {
  color: orange;
  padding: 0 10px;
  font-weight: 600;
}

/* Intro Section */

.intro-container {
  width: 100%;
  height: auto;
  padding: 0;
}

.intro-content {
  position: relative;
  text-align: center;
  line-height: 50px;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 100px 50px;
}

.intro-content h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.intro-content h1 {
  font-size: 54px;
  font-weight: 600;
  padding: 50px 0;
  letter-spacing: 2px;
}

.intro-content p {
  font-size: 25px;
  letter-spacing: 1px;
}

/* About Section */

.about-container {
  width: 100%;
  height: auto;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 50px;
  margin: 0;
  gap: 20px;
  color: black;
  
}

.about-list div {
  background: white;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  transition: background 0.5, transform 0.5s;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.about-list div i {
  font-size: 50px;
  margin-bottom: 15px;
  color: orange;
}

.about-list div h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.about-list div p {
  font-size: 15px;
  color:grey;
}

.about-list div a {
  text-decoration: none;
  background-color: orange; 
  color: white;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  border: orange solid 1px;
  padding: 10px;
  border-radius: 4px;
}

.about-list div a:hover {
  background-color: black;
  color: white;
  border: none;
}

.about-list div:hover {
  border: 2px solid orange;
  transform: translateY(-10px);
}

/* Services Section */

.services-container {
  width: 100%;
  height: auto;
}

.services-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 50px 75px 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  line-height: 50px;
}


.services-content h5 {
  color: orange;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px 0;
  font-size: 16px;
  font-weight: 500;
}

.services-content h4 {
  font-size: 26px;
  padding: 25px 0 50px 0;
  font-weight: 600;
}

.services-socials a {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  font-size: 40px;
  row-gap: 20px;
  padding: 25px 15px;
}

.services-content p {
  font-size: 20px;
}

.service-type-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 50px;
}

.service-list {
  max-width: 1200px;
  min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 50px auto 150px auto;
  gap: 2px;
  color: black;
  background-color: #fff;border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.service-list div {  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  transition: background 0.5, transform 0.5s;
  padding: 75px;
  
}

.service-type-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 75px 0;
  font-size: 3vw;
  text-transform: uppercase;
}

.service-list div i {
  font-size: 75px;
  color: orange;
  padding-bottom: 20px;
}

.service-list div:hover {
  transform: translateY(-5px);
}

.service-list div h3 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

/* Contact-Banner */

.contact-banner-container {
  width: 100%;
  height: auto;
  background-color: #24262b;
}

.contact-content {
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 100px 50px;
  display: grid;
  grid-template-columns: 60% 40%;
  color: white;
}

.contact-content p {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
}

.contact-btn {
  font-size: 20px;
  width: 200px;
  height: 65px;
  border: white 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: all .35s;
  outline: none;
  text-transform: uppercase;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto auto;
  letter-spacing: 1px;
}

.contact-btn:hover {
  background-color: white;
  color: black;
}

/* Testimonials */

.testimonials-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* Section Header */

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  line-height: 1.2;
}

/* Testimonails */

.testimonials {
  padding: 100px 0;
}

.testimonials-item {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: hsl(0, 0%, 40%);
}

.testimonials-item p {
  margin-top: 20px;
  color: hsl(0, 0%, 40%);
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: hsl(36, 88%, 66%);
}

.testimonials .swiper-pagination{
  position:relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background-color: orange;
}


/* Accreditations */

.accreditation-container {
  width: 100%;
  height: auto;
  padding: 0 50px;
}

.accreditations {
  max-width: 1200px;
  height: auto;
  margin: 75px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.accreditations img {
  height: 75px;
  width: 200px; 
}

.accreditations img:hover {
  transform: scale(1.5);
}



/* Footer */

.container {
  max-width: 100%;
  margin: 0 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 25px;
}

.footer h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}



.footer-col h4::before {
  content: '';
  position:absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer p {
  color: #bbb; 
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: orange;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: orange;
}

/* Gallery Page CSS */

.gallery-container {
  width: 100%;
  height: auto;
}

.gallery-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.gallery-container .image-container .image {
  height: 225px;
  width: 275px;
  border: 5px solid rgba(128, 128, 128, 0.37);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.gallery-container .image-container .image img {
  height: 275px;
  width: 350px;
  object-fit: cover;
  transition: .2 linear;
}

.gallery-container .image-container .image:hover img {
  transform: scale(1.1);
}

.gallery-container .popup-image {
  position: fixed;
  top:0; left:0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.gallery-container .popup-image span {
  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.gallery-container .popup-image img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

/* Contact Page CSS */

#contact {
    background-color: rgb(247, 247, 247);
  }

  .additional-page-canvas {
    position: relative;
    max-width: 1200px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    color: white;
    text-transform: uppercase;
  }

  .additional-page-canvas h1 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500px;
  }

  .contact-list {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    color: black;
  }
  
  .contact-list div {
    background: whitesmoke;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    transition: background 0.5, transform 0.5s;
    margin: 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1px;
  }
  
  .contact-list div i {
    font-size: 25px;
    margin-bottom: 15px;
    color: orange;
  }
  
  .contact-list div h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .contact-list div p {
    font-size: 17px;
    font-weight: 500;
    text-align: center;

  }
  
  .contact-list div a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500px;
    text-align: center;
    
  }
  
  .contact-list div a:hover {
    color: orange;
    border: none;
  }
  
  .contact-list div:hover {
    transform: translateY(-10px);
  }

  .contact-list .border {
    border-right: #24262b15 1px solid;
    border-left: #24262b15 1px solid;
  }
  
  #contact.contact-page-container {
  width: 100%;
  height: auto;
  background-color: rgba(245, 245, 245, 0.384);
}

  .form-wrapper {
    position: relative;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    font-size: 62.5%;
    display: grid;
    place-items: center;
    padding: 50px 50px;
  }
  
  .form-wrapper .form-heading {
    font-family: "arial", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.3rem;
    transition: all 0.3s;
    text-transform: capitalize;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  
  .contact-form-input {
    width: 40rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: white;
    border: 0.5px solid darkgrey;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    letter-spacing: 0.1rem;
    outline: none;
  }
  
  .contact-form-input:focus {
    color: black;
    border: 2px solid grey;
    background-color: darkgrey;
  }
  
  .contact-form-input::placeholder {
    color: black;
  }
  
  .contact-form-textarea {
    height: 15rem;
    resize:none;
  }
  
  .form-submit-btn {
    width: 15rem;
    height: 2.2rem;
    background-color: #fff;
    border: 0.5px solid darkgrey;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
  }

  /* Services Page */  
  
  .wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 75px 50px 25px 50px;
  }
  
  .wrapper > p, 
  .wrapper h1 {
    margin: 50px 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .accordion {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 25px;
    padding-right: 15px;
    color: orange;
  }

  .accordion:hover {
    border: 1px solid orange;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  
  .panel-container {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow:hidden;
    background-color: #f1f7f5;
    padding: 30px 40px;
  }

  .panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    gap: 50px;
  }
  
  .panel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .panel img {
    height: 200px;
    width: 300px;
    margin: auto auto;
    border-radius: 5px;
  }

  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  
  .faq:active {
    border: none;
  }

  .full-services-container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    padding: 25px 50px;
  }

  .full-services-container h1 {
    text-align: center;
    margin: 50px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .full-services-list {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }

  .full-services-list div {
    display: flex; 
    justify-content: start;
    align-items: center;
    height: auto;
    padding: 20px;
    width: auto;
  }

  .full-services-list div:hover {
    border: 2px solid orange;
  }

  .full-services-list div i {
    color: orange;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 10px;
  }
  

/* RESPONSIVE DESIGN */

@media (max-width: 1050px) {
  .navbar .links,
  .navbar .action-btn,
  .contact-nav,
  .canvas-btn {
    display: none;
  }


  .navbar .toggle-btn {
    display: block;
  }

 .dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  top: 125px;
  }

  .dropdown-menu .action-btn {
    width: 175px;
  }
}

/*@media (max-width: 900px) {
  .gallery-container .image-container {
    display: none;
  }

  
} */

@media (max-width: 850px) {
  .service-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .service-list {
    margin: 50px 0;
  }

  .service-list div {
    padding:  25px;
  }

  /*.gallery-container .image-container .image {
    height: 150px;
    width: 150px;
  } */

  .container .popup-image img {
    width: 95%;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .accreditations {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 0 0 50px 0;
  }

  .accreditations img:hover {
    transform: scale(1.0);
  }
}

 @media (max-width: 600px) {

  .dropdown-menu {
    top: 125px;
  }

  .dropdown-menu .action-btn {
    width: auto;
    height: auto;
  }

  .service-list {
    grid-template-columns: 1fr 1fr;
  }

  .canvas,
  .intro-content {
    padding: 25px;
  }

  .canvas h1,
  .canvas h2 {
    font-size: 40px;
  }

  .canvas p {
    font-size: 14px;
  }

  .intro-content h4 {
    font-size: 14px;
  }

  .intro-content h1 {
    font-size: 35px;
  }

  .intro-content p {
    font-size: 20px;
  } 

  .contact-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 75px 50px
  }

  .contact-content p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
  }

  .contact-content-btn {
    font-size: 16px;
  }

  .footer-col {
    width: 100%;
  }
}
